body {
	background-image: url("2400-seamless-texture-wood-old-oak-or-modern-wood-texture.jpg");
}
.title {
	color:red ;
	display: flex;
	background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
	font-size: 50px;
	align-items: center;
    border: outset;
    
       }
.button-top {
	align-items: center;
	justify-content: center;
	display: flex;
	font-size: 20px;
	border-radius: 20px;
	margin:20px 20px;
	padding: 12px 40px;
	width: 25px;
	border: none;
}
#top-button {
    margin: 0;
    position: absolute;
    left: 33%;
    display: inline-flex;
    transform: 50% 50%;
}
.button-top:hover {
	color: black; 
	box-shadow: skyblue 0 10px 10px;
	background-image: url("http://atlas-content-cdn.pixelsquid.com/stock-images/red-push-pin-thumbtack-8JYEZW3-600.jpg");
	background-size: 60px;
}
.button-top:active {
	box-shadow: skyblue 0 10px 10px inset;
}
.Password {
	color: black;
	font-family: impact ;
	font-size: 20px;
	text-align:justify; text-align-last:justify;
	margin: 0px 700px;
	padding: 10px 50px;
	font-size: 10px;
	position: relative;
   height: 40px;
}
#inputName{
   display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   background-color: #b9efff;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#Noteadd {
	display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   cursor: pointer;
   background-color: #e8faff;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
.redbuttons {
	display: flex;
	flex-wrap:wrap;
}
.bluebuttons {
	display: flex;
	flex-wrap:wrap;	
}
.Yellowbuttons{
	display: flex;
	flex-wrap:wrap;	
}
h1 {
	font-size: 16px;

}