body {
	background-image: url("2400-seamless-texture-wood-old-oak-or-modern-wood-texture.jpg");
}
.title {
	color:red ;
	display: flex;
	background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
	font-size: 50px;
	align-items: center;
    border: outset;
    
       }
.button-top {
	align-items: center;
	justify-content: center;
	display: flex;
	font-size: 20px;
	border-radius: 20px;
	margin:20px 20px;
	padding: 12px 40px;
	width: 25px;
	border: none;
}
#top-button {
    margin: 0;
    position: absolute;
    left: 33%;
    display: inline-flex;
    transform: 50% 50%;
}
.button-top:hover {
	color: black; 
	box-shadow: skyblue 0 10px 10px;
	background-image: url("http://atlas-content-cdn.pixelsquid.com/stock-images/red-push-pin-thumbtack-8JYEZW3-600.jpg");
	background-size: 60px;
}
.button-top:active {
	box-shadow: skyblue 0 10px 10px inset;
}
.Password {
	color: black;
	font-family: impact ;
	font-size: 20px;
	text-align:justify; text-align-last:justify;
	margin: 0px 700px;
	padding: 10px 50px;
	font-size: 10px;
	position: relative;
   height: 40px;
}
#inputName{
   display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   background-color: #a872e8;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#NameOnNote1{
   display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   background-color: #ee243c;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#NameOnNote2{
   display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   background-color: #ee243c;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#NameOnNote3{
   display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   background-color: #5468ff;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#NameOnNote4{
   display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   background-color: #5468ff;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#NameOnNote5{
   display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   background-color: #FFDD49;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#NameOnNote6{
   display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   background-color: #FFDD49;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#Noteadd {
	display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   cursor: pointer;
   background-color: #e8faff;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#addRedpin {
	display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   cursor: pointer;
   background-color: #e8faff;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#removeRedpin {
	display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   cursor: pointer;
   background-color: #e8faff;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#addBluepin {
	display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   cursor: pointer;
   background-color: #e8faff;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#removeBluepin {
	display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   cursor: pointer;
   background-color: #e8faff;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#addYellowpin {
	display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   cursor: pointer;
   background-color: #e8faff;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
#removeYellowpin {
	display: inline-block;
   outline: 0;
   appearance: none;
   padding: 0px 12px;
   border: 0px solid transparent;
   border-radius: 4px;
   text-decoration: none;
   cursor: pointer;
   background-color: #e8faff;
   box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
   color: black;
   font-size: 14px;
   font-weight: 400;
   height: 36px;
   transition: all 150ms ease-in-out 0s;
}
.redbuttons {
	display: flex;
	flex-wrap:wrap;
}
.bluebuttons {
	display: flex;
	flex-wrap:wrap;	
}
.Yellowbuttons{
	display: flex;
	flex-wrap:wrap;	
}
h1 {
	font-size: 16px;

}
#rbk{
	left: 85%;
	position: absolute;
	top: 3%;
}
#Board div div {
 color: black;
 margin: 20px 20px 20px 20px;
 padding: 20px 20px 20px 20px;
 background-size: 200px;
 flex-wrap: wrap;
 flex: center ;
 background-image: url('file:///C:/Users/ahmed%20sassi/Desktop/Nouveau%20dossier/Nouveau%20dossier/Wall-of-Shame/wall-of_shame-prj/1-removebg-preview%20(1).png');
 background-size: 300px;
 padding-bottom: 200px;
 padding-right: 250px;
 display: flex;
 align-items: center;
 font-size: 50px;
 font-style:Courier New, monospace;

   }